{% extends 'base.html' %}

{% block conteudo %}

<div class="container">
    <div class="row mt-2">
        <div class="col-8">
            <h5>Patologia: {{nomePatologia}}</h5>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="form-group row">
                    <select class="form-control" id="selectPatologia">
                            <option value="-1">Selecione outra patologia...</option>
                            {% for patologia in patologias%}
                                <option value="{{patologia}}">{{patologia}}</option>
                            {% endfor %}
                    </select> 
                </div>
            </div>
        </div>

    </div>
    {% if patologiaSemRegistros %}
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-4">Patologia sem Ocorrências Registradas</h4>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                    <div class="row">
                        <div class="container p-2">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="card-text">Nº de Ocorrências no Total</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{n_total_ocorrencias}}</h3>
                                    <p class="card-text">ocorrências registradas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container p-2">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="card-text">Porcentagem de Urgência</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{porcentagemUrgencia}}% </h3>
                                    <p class="card-text">dos registros são urgentes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container p-2">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="card-text">Setor com mais ocorrências da patologia</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{setor_mais_ocorrencias}}</h3>
                                    <p class="card-text">{{n_ocorr_setor_mais_ocorrencias}} ocorrências registradas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container p-2">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="card-text">Dia com mais ocorrências registradas</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{dia_mais_ocorrencias_patologia}}</h3>
                                    <p class="card-text">{{qtd_registros_dia_mais_ocorrencias_patologia}} ocorrências registradas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container p-2">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="card-text">Há quanto tempo veem as patologias?</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{porcentagemPrimeiraVezViu}}%</h3>
                                    <p class="card-text">Primeira Vez que Vi</p>
                                    <h4 class="card-title">{{porcentagemComecouRecentemente}}%</h3>
                                    <p class="card-text">Comecei a ver recentemente (<1 ano) </p>
                                    <h4 class="card-title">{{porcentagemVeFazTempo}}%</h3>
                                    <p class="card-text">Já vejo a muito tempo (>1 ano) </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="container p-2">
                        <div class="card shadow">
                            <div class="card-header">
                                <p class="card-text">Variação das ocorrências ao longo do tempo</p>
                            </div>
                            <div class="card-body">
                                <canvas id="graficoOcorrenciasPorMes" style="height:100px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container p-2">
                        <div class="card shadow">
                            <div class="card-header">
                                <p class="card-text">Registros da Patologia por Setor</p>
                            </div>
                            <div class="card-body">
                                <div style="height:400px;">
                                    <canvas id="graficoPorcentagemPatologias"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    const labels = [{% for dado in dadosGrafico1_x%}'{{dado}}',{% endfor %}];
    const data = {
      labels: labels,
      datasets: [{
        label: 'Quantidade de Ocorrências no Mês',
        backgroundColor: '#247106',
        borderColor: '#247106',
        data: [{% for dado in dadosGrafico1_y%}{{dado}},{% endfor %}],
      }]
    };
    const config = {
      type: 'line',
      data: data,
      options: {
        scales: {
            y: {
                min: 0,
                ticks: {
                    stepSize: 1
                }
            }
        }
      }
    };
</script>
<script>
    const graficoOcorrenciasPorMes = new Chart(
      document.getElementById('graficoOcorrenciasPorMes'),
      config
    );
</script>

<script>
    const labels2 = [{% for dado in dadosGrafico2%}'{{dado.0}}',{% endfor %}];
    const data2 = {
      labels: labels2,
      datasets: [{
        label: 'Quantidade de Ocorrências da Patologia',
        backgroundColor: [{% for dado in dadosGrafico2%}'{{dado.2}}',{% endfor %}],
        data: [{% for dado in dadosGrafico2%}'{{dado.1}}',{% endfor %}],
        hoverOffset: 4
      }]
    };
    const config2 = {
      type: 'bar',
      data: data2,
      options: {
        scales: {
            y: {
                min: 0,
                ticks: {
                    stepSize: 1
                }
            }
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
</script>
<script>
    const graficoPorcentagemPatologias = new Chart(
      document.getElementById('graficoPorcentagemPatologias'),
      config2
    );
</script>

<script>
    var patologiaSelecionada = 1;

    var botaoSetor = document.getElementById("botaoSelecionaPatologia");

    document.getElementById("selectPatologia").addEventListener("change", function (event) {
        patologiaSelecionada = event.target.value;
        window.location.href = `../patologias/${patologiaSelecionada}`;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% endblock conteudo %}