{% extends 'base.html' %}

{% block conteudo %}
    <table class="table table-bordered table-striped table-hover table-sm justify-content-center" style="width:90%;max-width:90%">
        <thead>
            <tr>
                <th style="width: 3%">
                    Índice
                </th>
                {% for col in tabela_ocorrencias.columns %}
                    <th style="width: 5%">
                    {{col}}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% for index, row in tabela_ocorrencias.iterrows %}
            <tr>
                <td>
                    {{index}}
                </td>
                {% for atributo in row %}
                    {% if 's3.amazonaws.com/' in atributo %}
                        <td>
                            <img src={{atributo}} style="width:50px;" />
                        </td>
                    {% else %}
                    <td>
                        {{atributo}}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
  </table>
{% endblock conteudo %}