<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="--bs-bg-opacity: 1;background-color: #F0FED2;width:100%;">
    <p class="p-2" style="font-size:10px;">Software desenvolvido para a pesquisa: IF Atento: Software de Análise e Visualização de Dados de Patologias em Construções em uma instituição de ensino a partir de um aplicativo de informação geográfica voluntária</h5>
    <p class="p-2" style="font-size:8px;">Autores: Gabriel Vieira Cardoso e Rodrigo Cesar Evangelista</h6>
    </div>